{% extends 'articles/base.html' %}
{% load hashtag %}

{% block body %}
  <div class="mt-5">
    <h1>{{ article.id }}번 글</h1>
    <p>작성자 : {{ article.user }}</p>
    <h2>{{ article.title }}</h2>
    <div class="d-flex flex-column align-items-end">
    <p>작성일자 : {{ article.created_at }}</p>
    <p>수정일자 : {{ article.updated_at }}</p>
    </div>
    <hr>
    <div class="container">
    {% if article.image %}
      <img src="{{article.image.url}}" alt="{{article.image.name}}">
      <img src="{{article.image_thumbnail.url}}" alt="{{article.image.name}}">
    {% endif %}      
      {% comment %} <p>{{ article.content|linebreaksbr }}</p> {% endcomment %}
      <p>{{ article|make_link|safe|linebreaksbr }}</p>
    </div><hr>
      {% if user not in article.like_users.all %}
      <i id="like-button" data-id="{{article.id}}" class="fa-heart fa-2x far red_hover" style="color: gray"></i>
      {% else %}
      <i id="like-button" data-id="{{article.id}}" class="fa-heart fa-2x fas animated bounce" style="color: red"></i>
      {% endif %}
    <p><span id="like_count">{{article.like_users.count}}</span>명이 좋아합니다</p>
    <div>
      <div style="float:left;">
        <p>댓글</p>
      </div>
      <div style="margin-left: 48px;padding-left: 12px; border-left: solid 0.5px">
        {%for comment in comments%}
          <p>작성자 : {{comment.user}} | {{comment.content}}</p>
          {% if comment.user == user %}
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" onclick="return confirm('댓글 진짜 지울껴?')">
            {% csrf_token%}
            <input class="btn btn-dark ml-2" type="submit" value="삭제">
          </form>          
          {% endif %}
        {% empty %}
          <p>무플..ㅠㅠ 관심 좀 주세요</p> <!-- empty 쓰면 굳이 if 어쩌구 count 가 0 어쩌구 할필요가 없겠지-->
        {%endfor%}
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-dark ml-2" href="{% url 'articles:index' %}" role="button">돌아가기</a>
      <!-- <a class="btn btn-dark ml-2" href="{% url 'articles:delete' article.pk %}" role="button">삭제하기</a> -->
      {% if article.user == user %}
      <form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울껴?')">
        {% csrf_token%}
        <input class="btn btn-dark ml-2" type="submit" value="삭제">
      </form>
      <a class="btn btn-dark ml-2" href="{% url 'articles:update' article.pk %}" role="button">수정하기</a>
      {% endif %}
    </div>
    <hr>
    <h3>댓글 작성</h3>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token%}
      {{ comment_form.as_p }}
      <!-- <input class="form-control" type="text" name="comment" > -->
      <input class="d-block btn btn-dark ml-auto mt-2 " type="submit" value="등록">
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
    const likeButton = document.querySelector("#like-button")
    likeButton.addEventListener('click', function(event) {
      axios.get(`/articles/${event.target.dataset.id}/like/`)
        .then(response =>{
          if (response.data.is_liked) {
            event.target.classList.remove('far','red_hover')
            event.target.classList.add('fas','animated','bounce')
            event.target.style.color='red'
          } else {
            event.target.classList.add('far','red_hover')
            event.target.classList.remove('fas','animated','bounce')
            event.target.style.color='gray'
          }
          document.querySelector('#like_count').innerText = `${response.data.like_count}`
        })
    })
  </script>
{% endblock %}